      body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url("BGBLUE.jpg");
            background-size: cover; 
            background-position: center; 
            background-repeat: repeat;
        }

        .navbar {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #fffdfd;
            padding: 15px 0;
            border-radius: 55px;
            margin: 10px auto;
            width: 80%;
        }

        .navbar ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
            justify-content: space-around;
            width: 100%;
        }

        .navbar li {
            align-items: center;
        }

        .navbar li a {
            text-decoration: none;
            font-size: large;
            font-weight: bolder;
            color: black;
            padding: 10px 20px;
        }

        a.text-hover {
            font-size: 16px;
            transition: all 0.3s ease-in-out;
            position: relative;
            text-decoration: none;
            color: black;
        }

        a.text-hover::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: black;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
        }

        a.text-hover:hover {
            color: rgb(9, 9, 11);
        }

        a.text-hover:hover::after {
            visibility: visible;
            transform: scaleX(1);
        }

        a.active-link {
            border-bottom: 2px solid black;
        }

        .frontline {
            position: absolute;
            top: 180px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 55px;
            color: #fffdfd;
            text-align: center;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .text1 {
            position: absolute;
            top: 420px; /* Adjusted to position below frontline */
            left: 50%;
            transform: translateX(-50%);
            font-size: 19px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: lighter;
            color: #34a4f4; /* Ensures white color */
            text-align: center;
        }

        .round-button {
            position: absolute;
            display: inline-block;
            padding: 12px 28px;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
            text-align: center;
            border-radius: 50px;
            background-color: transparent;
            border: 2px solid #fff;
            transition: background-color 0.3s, color 0.3s;
            top: 528px;
            left: 50%;
            transform: translateX(-50%);
        }

        .round-button:hover {
            background-color: #fff;
            color: #000;
        }

        .logo {
            width: 90px;
            height: 90px;
            margin-top: 120px;
            margin-left: 439px;
        }

        .page-container {
            opacity: 1;
            transition: opacity 0.3s ease-out;
        }

        .page-container.fade-out {
            opacity: 0;
        }